# Build results
bin/
obj/

# Secrets
appsettings.json
appsettings.Development.json
appsettings.Production.json
docs/*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# wwwroot/uploads
wwwroot/uploads/
